<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
    <p>first name: </p>
    <%= f.text_field :first_name %>
    <p>last name: </p>
    <%= f.text_field :last_name %>
    <p>Job Title: </p>
    <%= f.text_field :job_title %>
    <p>Birth Date: </p>
    <%= f.text_field :birth_date %>
    <%= f.fields_for :phone_numbers do |p_n| %>
      <p>Phone Numbers</p>
      <p>Country: </p>
      <%= p_n.text_field :country %>
      <p>Country: </p>
      <%= p_n.text_field :number %>
    <% end %>
  </div>
<% end %>
